<style>
	* { 
		direction: rtl;
	}
	
	input, textarea {
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}
</style>
<form action="/create" method="post">
	اسم الكتاب:
		<input type="text" name="title">
	اسم المؤلف:
		<input type="text" name="author">
	وصف الكتاب:
		<textarea name="description" rows="10" cols="40">
		</textarea>
	ملاحظات على الكتاب:
		<textarea name="notes" rows="10" cols="40">
		</textarea>
	<input type="submit" value="أضف كتاب جديد">
</form>